<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Delete View</title>
</head>
<body>

    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Delete Book #{{object.id}}</h5>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="alert alert-warning" role="alert">
                    Are you sure you want to delete <strong>{{ object }}</strong> ?
                </div>
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>

</body>
</html>