class ListProduct(ListView):
    template_name = 'products/listproducts.html'
    model = Product
    context_object_name = 'products'
    # paginate_by = 2
    product_per_page = 2

    def get_context_data(self, **kwargs):
        context = super(ListProduct, self).get_context_data(**kwargs)
        list_product = Product.objects.all()
        product_paginator = Paginator(list_product, self.product_per_page)
        page = self.request.GET.get('page', 1)
        try:
            products = product_paginator.page(page)
        except PageNotAnInteger:
            products = product_paginator.page(1)
        except EmptyPage:
            products = product_paginator.page(product_paginator.num_pages)
        context['products'] = products
        context['is_paginated'] = True
        context['page_obj'] = products
        context['paginator'] = product_paginator
        return context


def sortFilterProducts(request):
    ordering = request.GET.get('ordering', "")  # http://127.0.0.1:8000/listproducts/?page=1&ordering=price
    search = request.GET.get('search', "")
    price = request.GET.get('price', "")
    product_per_page = 2

    if search:
        product = Product.objects.filter(Q(product_name__icontains=search) | Q(
            brand__icontains=search))  # SQLite doesn’t support case-sensitive LIKE statements; contains acts like icontains for SQLite
    else:
        product = Product.objects.all()
    if ordering:
        product = product.order_by(ordering)
    if price:
        product = product.filter(price__lt=price)
    # Pagination
    page = request.GET.get('page', 1)
    product_paginator = Paginator(product, product_per_page)
    try:
        product = product_paginator.page(page)
    except EmptyPage:
        product = product_paginator.page(product_paginator.num_pages)
    except:
        product = product_paginator.page(product_per_page)
    print('produc', product)
    return render(request, "products/listproducts.html",
                  {"products": product, 'page_obj': product, 'is_paginated': True, 'paginator': product_paginator})


def searchProduct(request):
    if 'term' in request.GET:
        # print('term,', request.GET)
        search = request.GET.get('term')
        qs = Product.objects.filter(Q(product_name__icontains=search))[0:10]
        # print(list(qs.values()))
        # print(json.dumps(list(qs.values()), cls=DjangoJSONEncoder)) #manually doing jsonresponse here
        titles = list()
        for product in qs:
            titles.append(product.product_name)
        if len(qs) < 10:
            length = 10 - len(qs)
            qs2 = Product.objects.filter(Q(brand__icontains=search))[0:length]
            for product in qs2:
                titles.append(product.brand)
        print(titles)

        return JsonResponse(titles,
                            safe=False)  # [1,2,3,4] ---> "[1,2,3,4]"   queryset ---> serialize into list or dict format ---> json format using json.dumps with a DjangoJSONEncoder(encoder to handle datetime like objects)

